<nav class="sidebar" [class.opened]="opened">
  <div class="user-info">
    <h3>Ahmed Kadar</h3>
    <hr />
  </div>

  <ul class="menu">

    <!-- ==================== AGENT MENU ==================== -->
    <ng-container *ngIf="activeMode === 'AGENT'">
      <li routerLinkActive="active" routerLink="/accueil">
        <i class="fa-solid fa-house"></i>
        <span>Accueil</span>
      </li>
      <li routerLinkActive="active" routerLink="/Agent">
        <i class="fa-solid fa-user-tie"></i>
        <span>Agent</span>
      </li>
      <li routerLinkActive="active" routerLink="/myData">
        <i class="fa-solid fa-id-card"></i>
        <span>Mes données personnelles</span>
      </li>
      <li routerLinkActive="active" routerLink="/dataAdministrative">
        <i class="fa-solid fa-folder-open"></i>
        <span>Données Administratives</span>
      </li>

      <!-- Start Actes Administratifs (Agent) -->
      <li class="menu-parent" (click)="toggleActeAdministratifs()">
        <i class="fa-solid fa-file-signature"></i>
        <span>Actes Administratifs</span>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="acteAdministratifs"></i>
      </li>

      <ul *ngIf="acteAdministratifs" class="submenu">
        <li routerLinkActive="active" routerLink="/Sanction">
          <i class="fa-solid fa-gavel"></i>
          <span>Sanctions</span>
        </li>
        <li routerLinkActive="active" routerLink="/Reintegration">
          <i class="fa-solid fa-user-check"></i>
          <span>Réintégration</span>
        </li>
        <li routerLinkActive="active" routerLink="/StageFormation">
          <i class="fa-solid fa-graduation-cap"></i>
          <span>Stage de formation</span>
        </li>
        <li routerLinkActive="active" routerLink="/Detachement">
          <i class="fa-solid fa-people-arrows"></i>
          <span>Détachement</span>
        </li>
        <li routerLinkActive="active" routerLink="/Radiation">
          <i class="fa-solid fa-user-slash"></i>
          <span>Radiation</span>
        </li>
        <li routerLinkActive="active" routerLink="/Suspension">
          <i class="fa-solid fa-circle-pause"></i>
          <span>Suspension</span>
        </li>
        <li routerLinkActive="active" routerLink="/PriseEnCharge">
          <i class="fa-solid fa-hand-holding-medical"></i>
          <span>Prise En Charge</span>
        </li>
        <li routerLinkActive="active" routerLink="/MiseEnDisponibilite">
          <i class="fa-solid fa-user-clock"></i>
          <span>Mise En Disponibilité</span>
        </li>
      </ul>
      <!-- End Actes Administratifs (Agent) -->

      <li routerLinkActive="active" routerLink="/carriere">
        <i class="fa-solid fa-chart-line"></i>
        <span>Consultation de carrière</span>
      </li>

      <li routerLinkActive="active" routerLink="/competences">
        <i class="fa-solid fa-diagram-project"></i>
        <span>Consultation des compétences</span>
      </li>

      <li routerLinkActive="active" routerLink="/formations">
        <i class="pi pi-graduation-cap"></i>
        <span>Consultation des formations</span>
      </li>

      <!-- Start Congés et absences (Agent) -->
      <li class="menu-parent" (click)="toggleCongesAbsences()">
        <i class="fa-solid fa-calendar-minus"></i>
        <span>Congés et absences</span>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="congesAbsences"></i>
      </li>

      <ul *ngIf="congesAbsences" class="submenu">
        <li routerLinkActive="active" routerLink="/conge">
          <i class="fa-solid fa-calendar-plus"></i>
          <span>Nouvelle demande</span>
        </li>
        <li routerLinkActive="active" routerLink="/mes-demandes-conge">
          <i class="fa-solid fa-list-check"></i>
          <span>Mes demandes</span>
        </li>
      </ul>
      <!-- End Congés et absences (Agent) -->

      <li routerLinkActive="active" routerLink="/HistoriqueDesActes">
        <i class="fa-solid fa-clock-rotate-left"></i>
        <span>Historique des actes</span>
      </li>

      <li routerLinkActive="active" routerLink="/SituationActuelle">
        <i class="fa-solid fa-gauge-high"></i> <span>Situation actuelle</span>
      </li>

      <li routerLinkActive="active" routerLink="/ConsultationDesDiplomes">
        <i class="fa-solid fa-user-graduate"></i>
        <span>Consultation des diplômes</span>
      </li>

      <li routerLinkActive="active" routerLink="/AttestationDeTravail">
        <i class="fa-solid fa-file-pdf"></i>
        <span>Attestation de travail</span>
      </li>

      <li routerLinkActive="active" routerLink="/posteTravail">
        <i class="fa-solid fa-file-lines"></i>
        <span>PDF Poste Travail</span>
      </li>
    </ng-container>

    <!-- ==================== RESPONSABLE UNITE MENU ==================== -->
    <ng-container *ngIf="activeMode === 'RESPONSABLE_UNITE'">
      <li routerLinkActive="active" routerLink="/DemandesCongeAttestation">
        <i class="fa-solid fa-file-alt"></i>
        <span>Demandes RH</span>
      </li>

      <li routerLinkActive="active" routerLink="/NoteAnnuelles">
        <i class="fa-solid fa-star"></i>
        <span>Note Annuelles</span>
      </li>
    </ng-container>

    <!-- ==================== ADMIN MENU ==================== -->
    <ng-container *ngIf="activeMode === 'ADMIN'">
      <li routerLinkActive="active" routerLink="/dashboard">
        <i class="fa-solid fa-chart-pie"></i>
        <span>Tableau de bord</span>
      </li>

      <!-- Start Actes Administratifs (Admin) -->
      <li class="menu-parent" (click)="toggleActeAdministratifs()">
        <div class="leftDisplay">
          <i class="fa-solid fa-file-signature"></i>
          <span>Actes Administratifs</span>
        </div>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="acteAdministratifs"></i>
      </li>
      <ul class="submenu" *ngIf="acteAdministratifs">
        <li routerLinkActive="active" routerLink="/Sanction">
          <i class="fa-solid fa-gavel"></i>
          <span>Sanctions</span>
        </li>
        <li routerLinkActive="active" routerLink="/Reintegration">
          <i class="fa-solid fa-user-check"></i>
          <span>Réintégration</span>
        </li>
        <li routerLinkActive="active" routerLink="/StageFormation">
          <i class="fa-solid fa-graduation-cap"></i>
          <span>Stage de formation</span>
        </li>
        <li routerLinkActive="active" routerLink="/Detachement">
          <i class="fa-solid fa-people-arrows"></i>
          <span>Détachement</span>
        </li>
        <li routerLinkActive="active" routerLink="/Radiation">
          <i class="fa-solid fa-user-slash"></i>
          <span>Radiation</span>
        </li>
        <li routerLinkActive="active" routerLink="/Suspension">
          <i class="fa-solid fa-circle-pause"></i>
          <span>Suspension</span>
        </li>
        <li routerLinkActive="active" routerLink="/PriseEnCharge">
          <i class="fa-solid fa-hand-holding-medical"></i>
          <span>Prise En Charge</span>
        </li>
        <li routerLinkActive="active" routerLink="/MiseEnDisponibilite">
          <i class="fa-solid fa-user-clock"></i>
          <span>Mise En Disponibilité</span>
        </li>
      </ul>

      <!-- Start Gestion Organisationnelle -->
      <li class="menu-parent" (click)="toggleGestionOrganisationelle()">
        <div class="leftDisplay">
          <i class="fa-solid fa-diagram-project"></i>
          <span>Gestion Organisationnelle</span>
        </div>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="gestionOrganisationelle"></i>
      </li>

      <ul class="submenu" *ngIf="gestionOrganisationelle">
        <li routerLinkActive="active" routerLink="/Organigramme">
          <i class="fa-solid fa-sitemap"></i>
          <span>Organigramme</span>
        </li>
        <li routerLinkActive="active" routerLink="/UniteStructurelle">
          <i class="fa-solid fa-building"></i>
          <span>Unité Structurelle</span>
        </li>
        <li routerLinkActive="active" routerLink="/ResponsableUs">
          <i class="fa-solid fa-user-tie"></i>
          <span>Responsables des unités structurelles</span>
        </li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/Postes">
          <i class="fa-solid fa-briefcase"></i>
          <span>Postes</span>
        </li>
        <li routerLinkActive="active" routerLink="/Postes/ajouter">
          <i class="fa-solid fa-plus-circle"></i>
          <span>Ajouter un Poste</span>
        </li>
        <li routerLinkActive="active" routerLink="/AffectationAgentPoste">
          <i class="fa-solid fa-people-arrows"></i>
          <span>Affectations Agent-Poste</span>
        </li>
        <li routerLinkActive="active" routerLink="/HistoriqueAffectations">
          <i class="fa-solid fa-clock-rotate-left"></i>
          <span>Historique des affectations</span>
        </li>
      </ul>
      <!-- End Gestion Organisationnelle -->

      <!-- Start Gestion Personnelle -->
      <li class="menu-parent" (click)="toggleGestionPersonnelle()">
        <div class="leftDisplay">
          <i class="fa-solid fa-user-cog"></i>
          <span>Gestion Personnelle</span>
        </div>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="gestionPersonnelle"></i>
      </li>

      <ul class="submenu" *ngIf="gestionPersonnelle">
        <li routerLinkActive="active" routerLink="/InitialisationMatricules">
          <i class="fa-solid fa-id-badge"></i>
          <span>Initialisation des matricules</span>
        </li>
        <li routerLinkActive="active" routerLink="/GestionUtilisateurs">
          <i class="fa-solid fa-users-gear"></i>
          <span>Dossiers Agents</span>
        </li>
        <li routerLinkActive="active" routerLink="/GestionComptes">
          <i class="fa-solid fa-shield-halved"></i>
          <span>Gestion des comptes</span>
        </li>
        <li routerLinkActive="active" routerLink="/ApprobationModifications">
          <i class="fa-solid fa-clipboard-check"></i>
          <span>Approbation des modifications</span>
        </li>
      </ul>
      <!-- End Gestion Personnelle -->

      <li routerLinkActive="active" routerLink="/CaissesRetraite">
        <i class="fa-solid fa-shield-halved"></i>
        <span>Caisses Retraite</span>
      </li>

      <li routerLinkActive="active" routerLink="/DistinctionsHonorifiques">
        <i class="fa-solid fa-medal"></i>
        <span>Distinctions honorifiques</span>
      </li>

      <!-- Start Poste et Emploi -->
      <li class="menu-parent" (click)="togglePosteEtEmploi()">
        <div class="leftDisplay">
          <i class="fa-solid fa-briefcase"></i>
          <span>Poste et Emploi</span>
        </div>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="posteEtEmploi"></i>
      </li>

      <ul class="submenu" *ngIf="posteEtEmploi">
        <li routerLinkActive="active" routerLink="/PostesActivites">
          <i class="fa-solid fa-list-check"></i>
          <span>Postes & activités</span>
        </li>
        <li routerLinkActive="active" routerLink="/Fonctions">
          <i class="fa-solid fa-briefcase-medical"></i>
          <span>Fonctions</span>
        </li>
        <li routerLinkActive="active" routerLink="/situationFamille">
          <i class="fa-solid fa-sitemap"></i>
          <span>Situation des familles professionnelles</span>
        </li>
        <li routerLinkActive="active" routerLink="/familleEtEmploi">
          <i class="fa-solid fa-folder-tree"></i>
          <span>Fichier famille d'emplois</span>
        </li>
      </ul>
      <!-- End Poste et Emploi -->

      <!-- Start Évaluation et Compétences -->
      <li class="menu-parent" (click)="toggleEvaluationEtCompetences()">
        <div class="leftDisplay">
          <i class="fa-solid fa-chart-line"></i>
          <span>Évaluation et Compétences</span>
        </div>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="evaluationEtCompetences"></i>
      </li>

      <ul class="submenu" *ngIf="evaluationEtCompetences">
        <li routerLinkActive="active" routerLink="/evaluationEtCompetence">
          <i class="fa-solid fa-user-pen"></i>
          <span>Évaluation & compétences</span>
        </li>
        <li routerLinkActive="active" routerLink="/referentielDesGroupesDeCompetences">
          <i class="fa-solid fa-users-gear"></i>
          <span>Référentiel des groupes de compétences</span>
        </li>
      </ul>
      <!-- End Évaluation et Compétences -->

      <!-- Start Diplômes -->
      <li class="menu-parent" (click)="toggleDiplomeMenu()">
        <div class="leftDisplay">
          <i class="fa-solid fa-graduation-cap"></i>
          <span>Diplômes</span>
        </div>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="diplomeMenu"></i>
      </li>

      <ul class="submenu" *ngIf="diplomeMenu">
        <li routerLinkActive="active" routerLink="/Diplomes">
          <i class="fa-solid fa-certificate"></i>
          <span>Liste des diplômes</span>
        </li>
        <li routerLinkActive="active" routerLink="/TypeEtablissement">
          <i class="fa-solid fa-building-columns"></i>
          <span>Type Établissement</span>
        </li>
        <li routerLinkActive="active" routerLink="/FormationInitiale">
          <i class="fa-solid fa-book"></i>
          <span>Formation Initiale</span>
        </li>
        <li routerLinkActive="active" routerLink="/Etablissement">
          <i class="fa-solid fa-school"></i>
          <span>Établissement</span>
        </li>
        <li routerLinkActive="active" routerLink="/NiveauDiplome">
          <i class="fa-solid fa-layer-group"></i>
          <span>Niveau de diplôme</span>
        </li>
        <li routerLinkActive="active" routerLink="/Specialite">
          <i class="fa-solid fa-tags"></i>
          <span>Spécialité</span>
        </li>
      </ul>
      <!-- End Diplômes -->

      <li routerLinkActive="active" routerLink="/FichierPrimes">
        <i class="fa-solid fa-file-invoice-dollar"></i>
        <span>Fichier primes</span>
      </li>

      <li routerLinkActive="active" routerLink="/AccidentsMaladies">
        <i class="fa-solid fa-ambulance"></i>
        <span>Accidents & maladies</span>
      </li>

      <li routerLinkActive="active" routerLink="/ActesVisa">
        <i class="fa-solid fa-file-signature"></i>
        <span>Actes Visa</span>
      </li>

      <li routerLinkActive="active" routerLink="/HistoriqueActesVises">
        <i class="fa-solid fa-file-lines"></i>
        <span>Historique Actes Vises</span>
      </li>

      <li routerLinkActive="active" routerLink="/echelon">
        <i class="fa-solid fa-layer-group"></i>
        <span>Situation des échelons</span>
      </li>

      <li routerLinkActive="active" routerLink="/echelle">
        <i class="fa-solid fa-ruler-horizontal"></i>
        <span>Situation des échelles</span>
      </li>

      <!-- Start Gestion des Congés -->
      <li class="menu-parent" (click)="toggleGestionConges()">
        <div class="leftDisplay">
          <i class="fa-solid fa-calendar-check"></i>
          <span>Gestion des Congés</span>
        </div>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="gestionConges"></i>
      </li>

      <ul class="submenu" *ngIf="gestionConges">
        <li routerLinkActive="active" routerLink="/GestionCongesAgents">
          <i class="fa-solid fa-users"></i>
          <span>Congés des agents</span>
        </li>
        <li routerLinkActive="active" routerLink="/JoursFeries">
          <i class="fa-solid fa-calendar-day"></i>
          <span>Jours fériés</span>
        </li>
        <li routerLinkActive="active" routerLink="/TypesConge">
          <i class="fa-solid fa-tags"></i>
          <span>Types de congé</span>
        </li>
      </ul>
      <!-- End Gestion des Congés -->

      <li routerLinkActive="active" routerLink="/indemnitesComponent">
        <i class="fa-solid fa-money-bill-wave"></i>
        <span>Les Indemnités</span>
      </li>

      <li routerLinkActive="active" routerLink="/maternite">
        <i class="fa-solid fa-baby-carriage"></i>
        <span>Maternité</span>
      </li>

      <li routerLinkActive="active" routerLink="/PretFinancier">
        <i class="fa-solid fa-hand-holding-dollar"></i>
        <span>Prêt Financiers</span>
      </li>

      <li routerLinkActive="active" routerLink="/DatesDanciennete">
        <i class="fa-solid fa-calendar-days"></i>
        <span>Dates d'ancienneté</span>
      </li>

      <li routerLinkActive="active" routerLink="/Communication">
        <i class="fa-solid fa-comments"></i>
        <span>Communication</span>
      </li>

      <li routerLinkActive="active" routerLink="/ServicesAnterieurs">
        <i class="fa-solid fa-history"></i>
        <span>Services Antérieurs</span>
      </li>

      <li routerLinkActive="active" routerLink="/Avencement">
        <i class="fa-solid fa-chart-line"></i>
        <span>Avancement</span>
      </li>
    </ng-container>

  </ul>

</nav>
