<nav class="sidebar" [class.opened]="opened">
  <div class="user-info">
    <h3>Ahmed Kadar</h3>
    <hr />
  </div>

  <ul class="menu">
    <ng-container *ngIf="activeMode === 'AGENT'">
      <li routerLinkActive="active" routerLink="/accueil">
        <i class="fa-solid fa-house"></i>
        <span>{{ 'LAYOUT.SIDEBAR.ACCUEIL' | translate }}</span>
      </li>
      <li routerLinkActive="active" routerLink="/Agent">
        <i class="fa-solid fa-user-tie"></i>
        <span>{{ 'LAYOUT.SIDEBAR.AGENT' | translate }}</span>
      </li>
      <li routerLinkActive="active" routerLink="/myData">
        <i class="fa-solid fa-id-card"></i>
        <span>{{ 'LAYOUT.SIDEBAR.MES_DONNEES_PERSONNELLES' | translate }}</span>
      </li>
      <li routerLinkActive="active" routerLink="/dataAdministrative">
        <i class="fa-solid fa-folder-open"></i>
        <span>{{ 'LAYOUT.SIDEBAR.DONNEES_ADMINISTRATIVES' | translate }}</span>
      </li>

      <li class="menu-parent" (click)="toggleActeAdministratifs()">
        <i class="fa-solid fa-file-signature"></i>
        <span>{{ 'LAYOUT.SIDEBAR.ACTES_ADMINISTRATIFS' | translate }}</span>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="acteAdministratifs"></i>
      </li>

      <ul *ngIf="acteAdministratifs" class="submenu">
        <li routerLinkActive="active" routerLink="/Sanction">
          <i class="fa-solid fa-gavel"></i>
          <span>{{ 'LAYOUT.SIDEBAR.SANCTIONS' | translate }}</span>
        </li>
        <li routerLinkActive="active" routerLink="/Reintegration">
          <i class="fa-solid fa-user-check"></i>
          <span>{{ 'LAYOUT.SIDEBAR.REINTEGRATION' | translate }}</span>
        </li>
        <li routerLinkActive="active" routerLink="/StageFormation">
          <i class="fa-solid fa-graduation-cap"></i>
          <span>{{ 'LAYOUT.SIDEBAR.STAGE_FORMATION' | translate }}</span>
        </li>
        <li routerLinkActive="active" routerLink="/Detachement">
          <i class="fa-solid fa-people-arrows"></i>
          <span>{{ 'LAYOUT.SIDEBAR.DETACHEMENT' | translate }}</span>
        </li>
        <li routerLinkActive="active" routerLink="/Radiation">
          <i class="fa-solid fa-user-slash"></i>
          <span>{{ 'LAYOUT.SIDEBAR.RADIATION' | translate }}</span>
        </li>
        <li routerLinkActive="active" routerLink="/Suspension">
          <i class="fa-solid fa-circle-pause"></i>
          <span>{{ 'LAYOUT.SIDEBAR.SUSPENSION' | translate }}</span>
        </li>
        <li routerLinkActive="active" routerLink="/PriseEnCharge">
          <i class="fa-solid fa-hand-holding-medical"></i>
          <span>{{ 'LAYOUT.SIDEBAR.PRISE_EN_CHARGE' | translate }}</span>
        </li>
        <li routerLinkActive="active" routerLink="/MiseEnDisponibilite">
          <i class="fa-solid fa-user-clock"></i>
          <span>{{ 'LAYOUT.SIDEBAR.MISE_EN_DISPONIBILITE' | translate }}</span>
        </li>
      </ul>

      <li routerLinkActive="active" routerLink="/carriere">
        <i class="fa-solid fa-chart-line"></i>
        <span>{{ 'LAYOUT.SIDEBAR.CONSULTATION_CARRIERE' | translate }}</span>
      </li>
      <li routerLinkActive="active" routerLink="/competences">
        <i class="fa-solid fa-diagram-project"></i>
        <span>{{ 'LAYOUT.SIDEBAR.CONSULTATION_COMPETENCES' | translate }}</span>
      </li>
      <li routerLinkActive="active" routerLink="/formations">
        <i class="pi pi-graduation-cap"></i>
        <span>{{ 'LAYOUT.SIDEBAR.CONSULTATION_FORMATIONS' | translate }}</span>
      </li>

      <li class="menu-parent" (click)="toggleCongesAbsences()">
        <i class="fa-solid fa-calendar-minus"></i>
        <span>{{ 'LAYOUT.SIDEBAR.CONGES_ABSENCES' | translate }}</span>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="congesAbsences"></i>
      </li>
      <ul *ngIf="congesAbsences" class="submenu">
        <li routerLinkActive="active" routerLink="/conge">
          <i class="fa-solid fa-calendar-plus"></i>
          <span>{{ 'LAYOUT.SIDEBAR.NOUVELLE_DEMANDE' | translate }}</span>
        </li>
        <li routerLinkActive="active" routerLink="/mes-demandes-conge">
          <i class="fa-solid fa-list-check"></i>
          <span>{{ 'LAYOUT.SIDEBAR.MES_DEMANDES' | translate }}</span>
        </li>
      </ul>

      <li routerLinkActive="active" routerLink="/HistoriqueDesActes">
        <i class="fa-solid fa-clock-rotate-left"></i>
        <span>{{ 'LAYOUT.SIDEBAR.HISTORIQUE_ACTES' | translate }}</span>
      </li>
      <li routerLinkActive="active" routerLink="/SituationActuelle">
        <i class="fa-solid fa-gauge-high"></i>
        <span>{{ 'LAYOUT.SIDEBAR.SITUATION_ACTUELLE' | translate }}</span>
      </li>
      <li routerLinkActive="active" routerLink="/ConsultationDesDiplomes">
        <i class="fa-solid fa-user-graduate"></i>
        <span>{{ 'LAYOUT.SIDEBAR.CONSULTATION_DIPLOMES' | translate }}</span>
      </li>
      <li routerLinkActive="active" routerLink="/AttestationDeTravail">
        <i class="fa-solid fa-file-pdf"></i>
        <span>{{ 'LAYOUT.SIDEBAR.ATTESTATION_TRAVAIL' | translate }}</span>
      </li>
      <li routerLinkActive="active" routerLink="/posteTravail">
        <i class="fa-solid fa-file-lines"></i>
        <span>{{ 'LAYOUT.SIDEBAR.PDF_POSTE_TRAVAIL' | translate }}</span>
      </li>
    </ng-container>

    <ng-container *ngIf="activeMode === 'RESPONSABLE_UNITE'">
      <li routerLinkActive="active" routerLink="/DemandesCongeAttestation">
        <i class="fa-solid fa-file-alt"></i>
        <span>{{ 'LAYOUT.SIDEBAR.DEMANDES_RH' | translate }}</span>
      </li>
      <li routerLinkActive="active" routerLink="/NoteAnnuelles">
        <i class="fa-solid fa-star"></i>
        <span>{{ 'LAYOUT.SIDEBAR.NOTE_ANNUELLES' | translate }}</span>
      </li>
    </ng-container>

    <ng-container *ngIf="activeMode === 'ADMIN'">
      <li routerLinkActive="active" routerLink="/dashboard">
        <i class="fa-solid fa-chart-pie"></i>
        <span>{{ 'LAYOUT.SIDEBAR.TABLEAU_BORD' | translate }}</span>
      </li>

      <li class="menu-parent" (click)="toggleActeAdministratifs()">
        <div class="leftDisplay">
          <i class="fa-solid fa-file-signature"></i>
          <span>{{ 'LAYOUT.SIDEBAR.ACTES_ADMINISTRATIFS' | translate }}</span>
        </div>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="acteAdministratifs"></i>
      </li>
      <ul class="submenu" *ngIf="acteAdministratifs">
        <li routerLinkActive="active" routerLink="/Sanction"><i class="fa-solid fa-gavel"></i><span>{{ 'LAYOUT.SIDEBAR.SANCTIONS' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/Reintegration"><i class="fa-solid fa-user-check"></i><span>{{ 'LAYOUT.SIDEBAR.REINTEGRATION' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/StageFormation"><i class="fa-solid fa-graduation-cap"></i><span>{{ 'LAYOUT.SIDEBAR.STAGE_FORMATION' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/Detachement"><i class="fa-solid fa-people-arrows"></i><span>{{ 'LAYOUT.SIDEBAR.DETACHEMENT' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/Radiation"><i class="fa-solid fa-user-slash"></i><span>{{ 'LAYOUT.SIDEBAR.RADIATION' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/Suspension"><i class="fa-solid fa-circle-pause"></i><span>{{ 'LAYOUT.SIDEBAR.SUSPENSION' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/PriseEnCharge"><i class="fa-solid fa-hand-holding-medical"></i><span>{{ 'LAYOUT.SIDEBAR.PRISE_EN_CHARGE' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/MiseEnDisponibilite"><i class="fa-solid fa-user-clock"></i><span>{{ 'LAYOUT.SIDEBAR.MISE_EN_DISPONIBILITE' | translate }}</span></li>
      </ul>

      <li class="menu-parent" (click)="toggleGestionOrganisationelle()">
        <div class="leftDisplay">
          <i class="fa-solid fa-diagram-project"></i>
          <span>{{ 'LAYOUT.SIDEBAR.GESTION_ORGANISATIONNELLE' | translate }}</span>
        </div>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="gestionOrganisationelle"></i>
      </li>
      <ul class="submenu" *ngIf="gestionOrganisationelle">
        <li routerLinkActive="active" routerLink="/Organigramme"><i class="fa-solid fa-sitemap"></i><span>{{ 'LAYOUT.SIDEBAR.ORGANIGRAMME' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/UniteStructurelle"><i class="fa-solid fa-building"></i><span>{{ 'LAYOUT.SIDEBAR.UNITE_STRUCTURELLE' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/ResponsableUs"><i class="fa-solid fa-user-tie"></i><span>{{ 'LAYOUT.SIDEBAR.RESPONSABLES_US' | translate }}</span></li>
        <li routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" routerLink="/Postes"><i class="fa-solid fa-briefcase"></i><span>{{ 'LAYOUT.SIDEBAR.POSTES' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/Postes/ajouter"><i class="fa-solid fa-plus-circle"></i><span>{{ 'LAYOUT.SIDEBAR.AJOUTER_POSTE' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/AffectationAgentPoste"><i class="fa-solid fa-people-arrows"></i><span>{{ 'LAYOUT.SIDEBAR.AFFECTATIONS_AGENT_POSTE' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/HistoriqueAffectations"><i class="fa-solid fa-clock-rotate-left"></i><span>{{ 'LAYOUT.SIDEBAR.HISTORIQUE_AFFECTATIONS' | translate }}</span></li>
      </ul>

      <li class="menu-parent" (click)="toggleGestionPersonnelle()">
        <div class="leftDisplay">
          <i class="fa-solid fa-user-cog"></i>
          <span>{{ 'LAYOUT.SIDEBAR.GESTION_PERSONNELLE' | translate }}</span>
        </div>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="gestionPersonnelle"></i>
      </li>
      <ul class="submenu" *ngIf="gestionPersonnelle">
        <li routerLinkActive="active" routerLink="/InitialisationMatricules"><i class="fa-solid fa-id-badge"></i><span>{{ 'LAYOUT.SIDEBAR.INITIALISATION_MATRICULES' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/GestionUtilisateurs"><i class="fa-solid fa-users-gear"></i><span>{{ 'LAYOUT.SIDEBAR.DOSSIERS_AGENTS' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/GestionComptes"><i class="fa-solid fa-shield-halved"></i><span>{{ 'LAYOUT.SIDEBAR.GESTION_COMPTES' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/ApprobationModifications"><i class="fa-solid fa-clipboard-check"></i><span>{{ 'LAYOUT.SIDEBAR.APPROBATION_MODIFICATIONS' | translate }}</span></li>
      </ul>

      <li routerLinkActive="active" routerLink="/CaissesRetraite"><i class="fa-solid fa-shield-halved"></i><span>{{ 'LAYOUT.SIDEBAR.CAISSES_RETRAITE' | translate }}</span></li>
      <li routerLinkActive="active" routerLink="/DistinctionsHonorifiques"><i class="fa-solid fa-medal"></i><span>{{ 'LAYOUT.SIDEBAR.DISTINCTIONS_HONORIFIQUES' | translate }}</span></li>

      <li class="menu-parent" (click)="togglePosteEtEmploi()">
        <div class="leftDisplay">
          <i class="fa-solid fa-briefcase"></i>
          <span>{{ 'LAYOUT.SIDEBAR.POSTE_ET_EMPLOI' | translate }}</span>
        </div>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="posteEtEmploi"></i>
      </li>
      <ul class="submenu" *ngIf="posteEtEmploi">
        <li routerLinkActive="active" routerLink="/PostesActivites"><i class="fa-solid fa-list-check"></i><span>{{ 'LAYOUT.SIDEBAR.POSTES_ACTIVITES' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/Fonctions"><i class="fa-solid fa-briefcase-medical"></i><span>{{ 'LAYOUT.SIDEBAR.FONCTIONS' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/situationFamille"><i class="fa-solid fa-sitemap"></i><span>{{ 'LAYOUT.SIDEBAR.SITUATION_FAMILLES_PRO' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/familleEtEmploi"><i class="fa-solid fa-folder-tree"></i><span>{{ 'LAYOUT.SIDEBAR.FICHIER_FAMILLE_EMPLOIS' | translate }}</span></li>
      </ul>

      <li class="menu-parent" (click)="toggleEvaluationEtCompetences()">
        <div class="leftDisplay">
          <i class="fa-solid fa-chart-line"></i>
          <span>{{ 'LAYOUT.SIDEBAR.EVALUATION_COMPETENCES' | translate }}</span>
        </div>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="evaluationEtCompetences"></i>
      </li>
      <ul class="submenu" *ngIf="evaluationEtCompetences">
        <li routerLinkActive="active" routerLink="/evaluationEtCompetence"><i class="fa-solid fa-user-pen"></i><span>{{ 'LAYOUT.SIDEBAR.EVALUATION_COMPETENCES' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/referentielDesGroupesDeCompetences"><i class="fa-solid fa-users-gear"></i><span>{{ 'LAYOUT.SIDEBAR.REFERENTIEL_GROUPES_COMPETENCES' | translate }}</span></li>
      </ul>

      <li class="menu-parent" (click)="toggleDiplomeMenu()">
        <div class="leftDisplay">
          <i class="fa-solid fa-graduation-cap"></i>
          <span>{{ 'LAYOUT.SIDEBAR.DIPLOMES' | translate }}</span>
        </div>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="diplomeMenu"></i>
      </li>
      <ul class="submenu" *ngIf="diplomeMenu">
        <li routerLinkActive="active" routerLink="/Diplomes"><i class="fa-solid fa-certificate"></i><span>{{ 'LAYOUT.SIDEBAR.LISTE_DIPLOMES' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/TypeEtablissement"><i class="fa-solid fa-building-columns"></i><span>{{ 'LAYOUT.SIDEBAR.TYPE_ETABLISSEMENT' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/FormationInitiale"><i class="fa-solid fa-book"></i><span>{{ 'LAYOUT.SIDEBAR.FORMATION_INITIALE' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/Etablissement"><i class="fa-solid fa-school"></i><span>{{ 'LAYOUT.SIDEBAR.ETABLISSEMENT' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/NiveauDiplome"><i class="fa-solid fa-layer-group"></i><span>{{ 'LAYOUT.SIDEBAR.NIVEAU_DIPLOME' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/Specialite"><i class="fa-solid fa-tags"></i><span>{{ 'LAYOUT.SIDEBAR.SPECIALITE' | translate }}</span></li>
      </ul>

      <li routerLinkActive="active" routerLink="/FichierPrimes"><i class="fa-solid fa-file-invoice-dollar"></i><span>{{ 'LAYOUT.SIDEBAR.FICHIER_PRIMES' | translate }}</span></li>
      <li routerLinkActive="active" routerLink="/AccidentsMaladies"><i class="fa-solid fa-ambulance"></i><span>{{ 'LAYOUT.SIDEBAR.ACCIDENTS_MALADIES' | translate }}</span></li>
      <li routerLinkActive="active" routerLink="/ActesVisa"><i class="fa-solid fa-file-signature"></i><span>{{ 'LAYOUT.SIDEBAR.ACTES_VISA' | translate }}</span></li>
      <li routerLinkActive="active" routerLink="/HistoriqueActesVises"><i class="fa-solid fa-file-lines"></i><span>{{ 'LAYOUT.SIDEBAR.HISTORIQUE_ACTES_VISES' | translate }}</span></li>
      <li routerLinkActive="active" routerLink="/echelon"><i class="fa-solid fa-layer-group"></i><span>{{ 'LAYOUT.SIDEBAR.SITUATION_ECHELONS' | translate }}</span></li>
      <li routerLinkActive="active" routerLink="/echelle"><i class="fa-solid fa-ruler-horizontal"></i><span>{{ 'LAYOUT.SIDEBAR.SITUATION_ECHELLES' | translate }}</span></li>

      <li class="menu-parent" (click)="toggleGestionConges()">
        <div class="leftDisplay">
          <i class="fa-solid fa-calendar-check"></i>
          <span>{{ 'LAYOUT.SIDEBAR.GESTION_CONGES' | translate }}</span>
        </div>
        <i class="fa-solid fa-chevron-down arrow" [class.open]="gestionConges"></i>
      </li>
      <ul class="submenu" *ngIf="gestionConges">
        <li routerLinkActive="active" routerLink="/GestionCongesAgents"><i class="fa-solid fa-users"></i><span>{{ 'LAYOUT.SIDEBAR.CONGES_AGENTS' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/JoursFeries"><i class="fa-solid fa-calendar-day"></i><span>{{ 'LAYOUT.SIDEBAR.JOURS_FERIES' | translate }}</span></li>
        <li routerLinkActive="active" routerLink="/TypesConge"><i class="fa-solid fa-tags"></i><span>{{ 'LAYOUT.SIDEBAR.TYPES_CONGE' | translate }}</span></li>
      </ul>

      <li routerLinkActive="active" routerLink="/indemnitesComponent"><i class="fa-solid fa-money-bill-wave"></i><span>{{ 'LAYOUT.SIDEBAR.INDEMNITES' | translate }}</span></li>
      <li routerLinkActive="active" routerLink="/maternite"><i class="fa-solid fa-baby-carriage"></i><span>{{ 'LAYOUT.SIDEBAR.MATERNITE' | translate }}</span></li>
      <li routerLinkActive="active" routerLink="/PretFinancier"><i class="fa-solid fa-hand-holding-dollar"></i><span>{{ 'LAYOUT.SIDEBAR.PRETS_FINANCIERS' | translate }}</span></li>
      <li routerLinkActive="active" routerLink="/DatesDanciennete"><i class="fa-solid fa-calendar-days"></i><span>{{ 'LAYOUT.SIDEBAR.DATES_ANCIENNETE' | translate }}</span></li>
      <li routerLinkActive="active" routerLink="/Communication"><i class="fa-solid fa-comments"></i><span>{{ 'LAYOUT.SIDEBAR.COMMUNICATION' | translate }}</span></li>
      <li routerLinkActive="active" routerLink="/ServicesAnterieurs"><i class="fa-solid fa-history"></i><span>{{ 'LAYOUT.SIDEBAR.SERVICES_ANTERIEURS' | translate }}</span></li>
      <li routerLinkActive="active" routerLink="/Avencement"><i class="fa-solid fa-chart-line"></i><span>{{ 'LAYOUT.SIDEBAR.AVANCEMENT' | translate }}</span></li>
    </ng-container>
  </ul>
</nav>
