<div class="step-container" *ngIf="state.draft() as d">
  <div class="step-header">
    <h3>{{ 'GESTION_PERSONNELLE.DOSSIERS_AGENTS.AGENT_WIZARD.STEPS.STEP5.TITLE' | translate }}</h3>
    <p>{{ 'GESTION_PERSONNELLE.DOSSIERS_AGENTS.AGENT_WIZARD.STEPS.STEP5.SUBTITLE' | translate }}</p>
  </div>

  <div class="step-form grid" *ngIf="d.coordonneesBancaires as cb">
    <div class="field col-12 md:col-6">
      <label for="bank">{{ 'GESTION_PERSONNELLE.DOSSIERS_AGENTS.AGENT_WIZARD.STEPS.STEP5.LBL_BANQUE' | translate }}</label>
      <input pInputText id="bank" [(ngModel)]="cb.banque" [disabled]="state.mode() === 'view'" class="w-full" />
    </div>

    <div class="field col-12 md:col-6">
      <label for="rib">{{ 'GESTION_PERSONNELLE.DOSSIERS_AGENTS.AGENT_WIZARD.STEPS.STEP5.LBL_RIB' | translate }}</label>
      <input pInputText id="rib" [(ngModel)]="cb.rib" [disabled]="state.mode() === 'view'" class="w-full" />
    </div>

    <div class="field col-12 md:col-6">
      <label for="iban">{{ 'GESTION_PERSONNELLE.DOSSIERS_AGENTS.AGENT_WIZARD.STEPS.STEP5.LBL_IBAN' | translate }}</label>
      <input pInputText id="iban" [(ngModel)]="cb.iban" [disabled]="state.mode() === 'view'" class="w-full" />
    </div>

    <div class="field col-12 md:col-6">
      <label for="compte">{{ 'GESTION_PERSONNELLE.DOSSIERS_AGENTS.AGENT_WIZARD.STEPS.STEP5.LBL_COMPTE' | translate }}</label>
      <input pInputText id="compte" [(ngModel)]="cb.compte" [disabled]="state.mode() === 'view'" class="w-full" />
    </div>

    <div class="field col-12 md:col-6">
      <label for="openDate">{{ 'GESTION_PERSONNELLE.DOSSIERS_AGENTS.AGENT_WIZARD.STEPS.STEP5.LBL_DATE_OUVERTURE' | translate }}</label>
      <p-datepicker id="openDate" [(ngModel)]="cb.dateOuverture" [disabled]="state.mode() === 'view'"
                    dateFormat="dd/mm/yy" appendTo="body" styleClass="w-full"></p-datepicker>
    </div>

    <div class="field col-12 md:col-6">
      <label for="validDate">{{ 'GESTION_PERSONNELLE.DOSSIERS_AGENTS.AGENT_WIZARD.STEPS.STEP5.LBL_DATE_VALIDITE' | translate }}</label>
      <p-datepicker id="validDate" [(ngModel)]="cb.dateValidite" [disabled]="state.mode() === 'view'"
                    dateFormat="dd/mm/yy" appendTo="body" styleClass="w-full"></p-datepicker>
    </div>
  </div>
</div>
