<div class="step-container" *ngIf="state.draft() as d">
  <div class="step-header">
    <h3>{{ 'GESTION_PERSONNELLE.DOSSIERS_AGENTS.AGENT_WIZARD.STEPS.STEP1.TITLE' | translate }}</h3>
    <p>{{ 'GESTION_PERSONNELLE.DOSSIERS_AGENTS.AGENT_WIZARD.STEPS.STEP1.SUBTITLE' | translate }}</p>
  </div>

  <div class="step-form grid">
    <div class="field col-12 md:col-6">
      <label for="matricule">{{ 'GLOBAL.MATRICULE' | translate }} <span class="required">*</span></label>
      <input pInputText id="matricule" [(ngModel)]="d.matricule" [disabled]="state.mode() !== 'create'"
             [placeholder]="'GLOBAL.RECHERCHER' | translate" class="w-full" />
    </div>

    <div class="field col-12 md:col-6">
      <label for="dateRecrutement">{{ 'GESTION_PERSONNELLE.DOSSIERS_AGENTS.AGENT_WIZARD.STEPS.STEP1.LBL_DATE_RECRUTEMENT' | translate }} <span class="required">*</span></label>
      <p-datepicker id="dateRecrutement" [(ngModel)]="d.dateRecrutement" [disabled]="state.mode() === 'view'"
                    dateFormat="dd/mm/yy" appendTo="body" styleClass="w-full"></p-datepicker>
    </div>

    <div class="field col-12 md:col-6">
      <label for="domaine">{{ 'GESTION_PERSONNELLE.GLOBAL.DOMAINE' | translate }} <span class="required">*</span></label>
      <input pInputText id="domaine" [(ngModel)]="d.domaine" [disabled]="state.mode() === 'view'" class="w-full" />
    </div>

    <div class="field col-12 md:col-6">
      <label for="sousDomaine">{{ 'GESTION_PERSONNELLE.GLOBAL.SOUS_DOMAINE' | translate }} <span class="required">*</span></label>
      <input pInputText id="sousDomaine" [(ngModel)]="d.sousDomaine" [disabled]="state.mode() === 'view'" class="w-full" />
    </div>

    <div class="field col-12 md:col-6">
      <label for="categorie">{{ 'GESTION_PERSONNELLE.GLOBAL.CATEGORIE' | translate }} <span class="required">*</span></label>
      <input pInputText id="categorie" [(ngModel)]="d.categorie" [disabled]="state.mode() === 'view'" class="w-full" />
    </div>

    <div class="field col-12 md:col-6">
      <label for="typeContrat">{{ 'GESTION_PERSONNELLE.GLOBAL.TYPE_CONTRAT' | translate }} <span class="required">*</span></label>
      <input pInputText id="typeContrat" [(ngModel)]="d.typeContrat" [disabled]="state.mode() === 'view'" class="w-full" />
    </div>
  </div>
</div>
