
<div class="cards-grid">


  <div class="card-item">
    <div class="card-icon">
      <i class="pi pi-user"></i>
    </div>
    <h3 class="card-title">Données de l'Agent</h3>
    <p class="card-text">
      Consulter vos informations administratives.<br />
      Modifier ou imprimer votre fiche personnelle.
    </p>
  </div>



  <div class="card-item">
    <div class="card-icon">
      <i class="pi pi-calendar"></i>
    </div>
    <h3 class="card-title">Présences et Absences</h3>
    <p class="card-text">
      Créer et suivre vos demandes de congé.<br />
      Déclarer un congé maladie ou consulter l'historique des absences.
    </p>
  </div>



  <div class="card-item">
    <div class="card-icon">
      <i class="pi pi-star"></i>
    </div>
    <h3 class="card-title">Évaluation et Compétences</h3>
    <p class="card-text">
      Suivre votre évaluation annuelle.<br />
      Mettre à jour vos compétences et consulter vos objectifs.<br />
      Vérifier votre mobilité ou votre poste de travail.
    </p>
  </div>
</div>
